:global html {
  --light: 80;
  /* the threshold at which colors are considered "light." Range: integers from 0 to 100,
recommended 50 - 70 */
  --threshold: 70;
  font-display: swap;
}
:global body,
:global #root {
  display: block;
  min-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

:global h1,
h2,
h3,
h4 {
  font-family: 'Hind Vadodara', sans-serif !important;
  font-weight: 400;
}
:global h5,
h6,
p {
  font-family: 'Roboto', sans-serif;
}

.hero-callout {
  --switch: calc((var(--light) - var(--threshold)) * -100%);
  color: hsl(0, 0%, var(--switch));
  text-shadow: 1px 1px black;
}

:global .scroll-container {
  position: fixed;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
:global .scroll-container:before {
  content: 'in this <div>';
  position: fixed;
  display: inline-block;
  padding: 4px;
  top: 10px;
  left: 50%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: white;
  z-index: 1000;
  transform: translate3d(-50%, 0, 0);
  top: 60px;
}
:global .vertical {
  width: 100%;
  min-height: 200vh;
  overflow-x: hidden;
}
:global .vertical:before {
  position: fixed;
  display: inline-block;
  padding: 4px;
  top: 10px;
  left: 50%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: white;
  z-index: 1000;
  transform: translate3d(-50%, 0, 0);
}
:global .horizontal {
  height: 100%;
  min-width: 300vw;
  overflow-y: hidden;
}
:global .horizontal:before {
  position: fixed;
  display: inline-block;
  padding: 4px;
  top: 10px;
  left: 50%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: white;
  z-index: 1000;
  transform: translate3d(-50%, 0, 0);
}
:global .parallax-outer {
  background-color: rgba(255, 255, 255, 0.05);
}
:global .parallax-inner {
  will-change: transform;
}

:global .handler {
  --handle-size: 100px;
  --handle-opacity: 0.5;
  --handle-opacity-active: 0.5;
}

.scroll-down {
  height: 2rem;
  position: absolute;
  bottom: 2.5rem;
  right: 5%;
  width: 50%;
  z-index: 10;
  cursor: pointer;
  text-shadow: 2px 2px black;
}

.scroll-down::before {
  animation: bounce 1s ease infinite;
  bottom: 0;
  color: #fff;
  content: '╲╱';
  font-size: 2rem;
  height: 3rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -1rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 4rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
