:global html {
  --light: 80;
  /* the threshold at which colors are considered "light." Range: integers from 0 to 100,
recommended 50 - 70 */
  --threshold: 70;
  font-display: swap;
}
:global body,
:global #root {
  display: block;
  min-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

:global h1,
h2,
h3,
h4 {
  font-family: 'Hind Vadodara', sans-serif !important;
  font-weight: 400;
}
:global h5,
h6,
p {
  font-family: 'Roboto', sans-serif;
}

.hero-callout {
  --switch: calc((var(--light) - var(--threshold)) * -100%);
  color: hsl(0, 0%, var(--switch));
  text-shadow: 1px 1px black;
}

:global .scroll-container {
  position: fixed;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
:global .scroll-container:before {
  content: 'in this <div>';
  position: fixed;
  display: inline-block;
  padding: 4px;
  top: 10px;
  left: 50%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: white;
  z-index: 1000;
  transform: translate3d(-50%, 0, 0);
  top: 60px;
}
:global .vertical {
  width: 100%;
  min-height: 200vh;
  overflow-x: hidden;
}
:global .vertical:before {
  position: fixed;
  display: inline-block;
  padding: 4px;
  top: 10px;
  left: 50%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: white;
  z-index: 1000;
  transform: translate3d(-50%, 0, 0);
}
:global .horizontal {
  height: 100%;
  min-width: 300vw;
  overflow-y: hidden;
}
:global .horizontal:before {
  position: fixed;
  display: inline-block;
  padding: 4px;
  top: 10px;
  left: 50%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: white;
  z-index: 1000;
  transform: translate3d(-50%, 0, 0);
}
:global .parallax-outer {
  background-color: rgba(255, 255, 255, 0.05);
}
:global .parallax-inner {
  will-change: transform;
}

:global .handler {
  --handle-size: 100px;
  --handle-opacity: 0.5;
  --handle-opacity-active: 0.5;
}

.scroll-down {
  height: 2rem;
  position: absolute;
  bottom: 2.5rem;
  right: 5%;
  width: 50%;
  z-index: 10;
  cursor: pointer;
  text-shadow: 2px 2px black;
}

.scroll-down::before {
  animation: bounce 1s ease infinite;
  bottom: 0;
  color: #fff;
  content: '╲╱';
  font-size: 2rem;
  height: 3rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -1rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 4rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
h5 {
  font-size: 12.5px !important;
}
/*
Slick

*/
.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block;
}
.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  top: 0;
  left: 0;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
} /*# sourceMappingURL=slick.min.css.map */

@charset 'UTF-8';
.slick-dots,
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  padding: 0;
}
.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-loading .slick-list {
  background: url(ajax-loader.gif) center center no-repeat #fff;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25;
}
.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
.slick-next:before,
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  bottom: -25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #000;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
} /*# sourceMappingURL=slick-theme.min.css.map */
